<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qa.springboot.mapper.GoodscommentMapper" >
  <resultMap id="BaseResultMap" type="com.qa.springboot.pojo.Goodscomment" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <id column="gdid" property="gdid" jdbcType="INTEGER" />
    <result column="gcdate" property="gcdate" jdbcType="TIMESTAMP" />
    <result column="gctype" property="gctype" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qa.springboot.pojo.Goodscomment" extends="BaseResultMap" >
    <result column="gctext" property="gctext" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userid, gdid, gcdate, gctype
  </sql>
  <sql id="Blob_Column_List" >
    gctext
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.qa.springboot.pojo.GoodscommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goodscomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qa.springboot.pojo.GoodscommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodscomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.qa.springboot.pojo.GoodscommentKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goodscomment
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.qa.springboot.pojo.GoodscommentKey" >
    delete from goodscomment
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qa.springboot.pojo.GoodscommentExample" >
    delete from goodscomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qa.springboot.pojo.Goodscomment" >
    insert into goodscomment (userid, gdid, gcdate, 
      gctype, gctext)
    values (#{userid,jdbcType=INTEGER}, #{gdid,jdbcType=INTEGER}, #{gcdate,jdbcType=TIMESTAMP}, 
      #{gctype,jdbcType=INTEGER}, #{gctext,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qa.springboot.pojo.Goodscomment" >
    insert into goodscomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="gdid != null" >
        gdid,
      </if>
      <if test="gcdate != null" >
        gcdate,
      </if>
      <if test="gctype != null" >
        gctype,
      </if>
      <if test="gctext != null" >
        gctext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="gdid != null" >
        #{gdid,jdbcType=INTEGER},
      </if>
      <if test="gcdate != null" >
        #{gcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gctype != null" >
        #{gctype,jdbcType=INTEGER},
      </if>
      <if test="gctext != null" >
        #{gctext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qa.springboot.pojo.GoodscommentExample" resultType="java.lang.Integer" >
    select count(*) from goodscomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goodscomment
    <set >
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.gdid != null" >
        gdid = #{record.gdid,jdbcType=INTEGER},
      </if>
      <if test="record.gcdate != null" >
        gcdate = #{record.gcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gctype != null" >
        gctype = #{record.gctype,jdbcType=INTEGER},
      </if>
      <if test="record.gctext != null" >
        gctext = #{record.gctext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update goodscomment
    set userid = #{record.userid,jdbcType=INTEGER},
      gdid = #{record.gdid,jdbcType=INTEGER},
      gcdate = #{record.gcdate,jdbcType=TIMESTAMP},
      gctype = #{record.gctype,jdbcType=INTEGER},
      gctext = #{record.gctext,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goodscomment
    set userid = #{record.userid,jdbcType=INTEGER},
      gdid = #{record.gdid,jdbcType=INTEGER},
      gcdate = #{record.gcdate,jdbcType=TIMESTAMP},
      gctype = #{record.gctype,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qa.springboot.pojo.Goodscomment" >
    update goodscomment
    <set >
      <if test="gcdate != null" >
        gcdate = #{gcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gctype != null" >
        gctype = #{gctype,jdbcType=INTEGER},
      </if>
      <if test="gctext != null" >
        gctext = #{gctext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qa.springboot.pojo.Goodscomment" >
    update goodscomment
    set gcdate = #{gcdate,jdbcType=TIMESTAMP},
      gctype = #{gctype,jdbcType=INTEGER},
      gctext = #{gctext,jdbcType=LONGVARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qa.springboot.pojo.Goodscomment" >
    update goodscomment
    set gcdate = #{gcdate,jdbcType=TIMESTAMP},
      gctype = #{gctype,jdbcType=INTEGER}
    where userid = #{userid,jdbcType=INTEGER}
      and gdid = #{gdid,jdbcType=INTEGER}
  </update>
</mapper>